.ocr,
.ocr * {
  box-sizing: border-box;
}
.ocr {
  background: var(--m-3-white, #ffffff);
  padding: 10px;
  width: 1440px;
  height: 15318px;
  position: relative;
}
.rectangle-5572 {
  background: rgba(82, 184, 121, 0.1);
  width: 1441px;
  height: 2553px;
  position: absolute;
  left: -1px;
  top: 3431px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.rectangle-5570 {
  background: var(--green-400, #52b879);
  width: 1440px;
  height: 682px;
  position: absolute;
  left: -1px;
  top: 14636px;
}
.rectangle-5571 {
  background: var(--green-400, #52b879);
  width: 1440px;
  height: 878px;
  position: absolute;
  left: calc(50% - 720px);
  top: 0px;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  top: 120px;
}
.title {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --hero-2-48-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-2-48-bd-font-size, 48px);
  line-height: var(--hero-2-48-bd-line-height, 140%);
  font-weight: var(--hero-2-48-bd-font-weight, 700);
  position: relative;
  width: 1040px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.container-head {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.i-addressed-the-business-goal-of-boosting-user-engagement-through-showing-more-reviews-from-verified-users-and-higher-quality-reviews-to-translate-the-business-needs-into-a-tangible-design-solution-i-extensively-explored-various-technology-and-design-options-as-a-result-the-implemented-design-solution-successfully-achieved-a-significant-21-increase-in-screen-views-and-the-number-of-screen-views-and-number-of-users-increased-by-14-in-just-one-week {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.ocr-main-1 {
  flex-shrink: 0;
  width: 640px;
  height: 630px;
  position: relative;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-66 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.role {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.ux-designer {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-68 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.area {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.end-to-end-strategy-research-wireframe {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-69 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.team {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
._1-ux-designers-incl-myself-1-ui-designer-2-back-end-developers-1-front-end-developer {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-70 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.timeline {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
._2-months-2020-01-02 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.container-background {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.about-the-receipt-review-feature {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desc2 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc3 {
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc-3-span {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
}
.desc-3-span2 {
  color: var(--green-500, #2bab63);
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
}
.desc-3-span3 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
}
.ocr-optical-character-recognition-is-a-technology-that-can-scan-and-save-text-from-images {
  color: var(--gray-700, #3e426a);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
}
.container-problem-statement {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.problem-statement {
  color: #2bab63;
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(--hero-3-36-bd-font-family, "-", sans-serif);
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement-span {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement-span2 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 400);
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement-span3 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
}
.in-2019-we-tried-to-collect-reliable-reviews-through-receipts-but-users-weren-t-engaged-and-struggled-to-find-trustworthy-place-reviews-on-our-platform-as-a-result-they-searched-for-reviews-on-other-platforms-our-success-metric-was-user-engagement-receipt-reviews {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.container-process {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.process {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.info2 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ocr-process-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 159px;
  position: relative;
}
.container-achivements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.solution {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.provide-clear-guidelines-for-accurate-scan-results-and-a-more-personalized-visit-history-for-each-user {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.achievements {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.six-months-post-release-the-number-of-receipt-reviews-exceeded-100-m-as-of-2023-the-number-surpassed-400-m {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.background {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc4 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-178 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desc5 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-177 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-175 {
  background: var(--gray-50, #fbfbff);
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desc6 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  width: 287px;
}
.desc7 {
  text-align: left;
  font-family: var(--title-1-20-md-font-family, "-", sans-serif);
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 28px);
  font-weight: var(--title-1-20-md-font-weight, 400);
  position: relative;
  flex: 1;
}
.desc-7-span {
  color: var(--black-white-black, #262626);
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 28px);
  font-weight: var(--title-1-20-md-font-weight, 400);
}
.desc-7-span2 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 28px);
  font-weight: var(--title-1-20-md-font-weight, 700);
}
.desc-7-span3 {
  color: var(--black-white-black, #262626);
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 28px);
  font-weight: var(--title-1-20-md-font-weight, 400);
}
.frame-176 {
  background: var(--gray-50, #fbfbff);
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desc8 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(--title-1-20-md-font-family, "-", sans-serif);
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 400);
  position: relative;
  flex: 1;
}
.desc-8-span {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 400);
}
.desc-8-span2 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 700);
}
.desc-8-span3 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 400);
}
.container-our-goal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.initial-goal {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.container-exploration {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.exploration {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc9 {
  display: flex;
  flex-direction: column;
  gap: 104px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._01 {
  display: flex;
  flex-direction: column;
  gap: 92px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._012 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-94 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.actionable {
  background: var(--green-500, #2bab63);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.step-1 {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
}
.evaluate-previous-flow {
  color: #000000;
  text-align: left;
  font-family: var(
    --hero-4-32-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-4-32-bd-font-size, 32px);
  line-height: var(--hero-4-32-bd-line-height, 140%);
  font-weight: var(--hero-4-32-bd-font-weight, 700);
  position: relative;
}
.desc10 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.txt2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.the-first-step-was-to-review-the-current-flow-of-actions-the-process-of-verifying-the-receipt-had-a-low-probability-of-completion-due-to-multiple-points-of-failure {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
._02 {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.img-01-1 {
  flex-shrink: 0;
  width: 300px;
  height: 536px;
  position: relative;
}
.frame-179 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.txt3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 552px;
  position: relative;
}
.users-often-missed-necessary-information-while-scanning-receipts-due-to-unclear-instructions-users-struggled-to-successfully-scan-receipts-due-to-vague-instructions-resulting-in-missed-crucial-details-or-mismatched-information {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._4 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.txt4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.users-could-only-edit-the-information-when-ocr-correctly-processed-the-receipt-exposing-only-location-information-was-meaningless-to-users-who-had-already-visited-the-place {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.img-02-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 605px;
  position: relative;
}
._5 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  height: 536px;
  position: relative;
}
.img-03-1 {
  flex-shrink: 0;
  width: 300px;
  height: 536px;
  position: relative;
}
.difficulty-in-pinpointing-the-root-cause-of-the-error {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.container-findings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.design-goal {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc11 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.txt5 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.i-changed-the-design-goal-as-follows-to-reflect-known-problems {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame-181 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.info3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33 {
  background: #fafafa;
  border-radius: 12px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 172px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.premise {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
}
.when-the-reliability-and-quality-of-location-information-are-improved-users-enjoy-using-location-based-services-more {
  color: #565656;
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-34 {
  background: #fafafa;
  border-radius: 12px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.hypothesis {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
}
.standardizing-and-collecting-various-information-that-already-exists-in-paper-receipts-improves-the-reliability-and-quality-of-place-information {
  color: #565656;
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-143 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.frame-109 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.frame-118 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.img-fef-1-d-36325-d-7-1-1 {
  flex-shrink: 0;
  width: 119px;
  height: 149px;
  position: relative;
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement2 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(--headline-2-24-bd-font-family, "-", sans-serif);
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 400);
  position: relative;
  flex: 1;
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement-2-span {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 400);
}
.how-might-i-help-users-to-accurately-input-information-during-the-receipt-verification-process-to-boost-user-engagement-2-span2 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
}
.perspectives {
  color: var(--green-500, #2bab63);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.to-prove-my-hypothesis-i-focused-my-research-on-the-following-four-perspectives {
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.to-prove-my-hypothesis-i-focused-my-research-on-the-following-four-perspectives-span {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
}
.to-prove-my-hypothesis-i-focused-my-research-on-the-following-four-perspectives-span2 {
  color: var(--green-500, #2bab63);
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
}
.to-prove-my-hypothesis-i-focused-my-research-on-the-following-four-perspectives-span3 {
  color: var(--black-white-black, #140f33);
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
}
.the-research-helped-us-identify-our-key-priorities-for-this-round-sharing-multiple-lists-and-enhanced-editing-functions {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-180 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.info4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-332 {
  background: #fafafa;
  border-radius: 12px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 220px;
  position: relative;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.group-13 {
  flex-shrink: 0;
  width: 43px;
  height: 27.89px;
  position: static;
}
.rectangle-1 {
  border-radius: 31px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 43px;
  height: 27.89px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._013 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 3px;
}
.visibility {
  color: #161616;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  width: 108px;
}
.improve-the-receipt-matching-page-to-provide-a-better-user-experience {
  color: #565656;
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-36 {
  background: #fafafa;
  border-radius: 12px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 220px;
  position: relative;
}
._022 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 3px;
}
.better-guidelines-for-receipt-scanning {
  color: #161616;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
}
.provide-clearer-guidelines-so-users-are-informed-of-what-information-should-be-scanned {
  color: #565656;
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._03 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 3px;
}
.identifying-different-error-cases {
  color: #161616;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
}
.provide-different-messages-for-errors-and-provide-appropriate-guidelines-to-resolve-the-issue {
  color: #565656;
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-82 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 470px;
  position: relative;
}
._04 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 3px;
}
.customizing-information-to-drive-lock-in-effect {
  color: #161616;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  width: 470px;
}
.provide-a-personal-history-of-visits-along-with-menu-and-location-information {
  color: #565656;
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-138 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-77 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.final-design {
  color: var(--green-500, #2bab63);
  text-align: center;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc12 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ocr-final-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 759px;
  position: relative;
}
.container-solution {
  display: flex;
  flex-direction: column;
  gap: 104px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._014 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-83 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-132 {
  flex-shrink: 0;
  width: 46px;
  height: 33px;
  position: static;
}
.rectangle-12 {
  border-radius: 31px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 46px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 3px;
}
._015 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 6px;
}
.visibility2 {
  color: #161616;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
}
._1-emphasize-matched-place-name-address-and-date-information-at-the-top-of-the-screen {
  color: var(--black-white-black, #140f33);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  width: 1040px;
}
.ocr-final-2-1 {
  flex-shrink: 0;
  width: 1000px;
  height: 404px;
  position: relative;
}
._42 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
._2-improved-button-labels-for-clearer-actions {
  color: var(--black-white-black, #140f33);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  width: 1040px;
}
.desc13 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.info-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.no-i-will-look-for-another-place-button-was-misunderstood-and-brought-users-to-unintended-pages-so-the-edit-button-was-placed-just-below-the-location-information-to-enhance-clarity {
  color: #000000;
  text-align: center;
  font-family: var(--headline-2-24-md-font-family, "-", sans-serif);
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.no-i-will-look-for-another-place-button-was-misunderstood-and-brought-users-to-unintended-pages-so-the-edit-button-was-placed-just-below-the-location-information-to-enhance-clarity-span {
  color: #000000;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 700);
}
.no-i-will-look-for-another-place-button-was-misunderstood-and-brought-users-to-unintended-pages-so-the-edit-button-was-placed-just-below-the-location-information-to-enhance-clarity-span2 {
  color: #000000;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 400);
}
.no-i-will-look-for-another-place-button-was-misunderstood-and-brought-users-to-unintended-pages-so-the-edit-button-was-placed-just-below-the-location-information-to-enhance-clarity-span3 {
  color: #000000;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 700);
}
.no-i-will-look-for-another-place-button-was-misunderstood-and-brought-users-to-unintended-pages-so-the-edit-button-was-placed-just-below-the-location-information-to-enhance-clarity-span4 {
  color: #000000;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Regular",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 400);
}
.ocr-final-3-1 {
  flex-shrink: 0;
  width: 784px;
  height: 393px;
  position: relative;
}
.renamed-the-button-to-submit-receipt-to-clarify-the-action-users-need-to-take {
  color: #000000;
  text-align: center;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  width: 934px;
}
.ocr-final-4-1 {
  flex-shrink: 0;
  width: 784px;
  height: 393px;
  position: relative;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._023 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 6px;
}
.better-guidelines-for-receipt-scanning2 {
  color: #161616;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
}
.relocated-the-instructions-to-be-more-visible-and-emphasized-the-core-information-that-needs-to-be-scanned {
  color: var(--black-white-black, #140f33);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  width: 1040px;
}
.ocr-final-5-1 {
  flex-shrink: 0;
  width: 1020px;
  height: 530px;
  position: relative;
}
.container-solution2 {
  display: flex;
  flex-direction: column;
  gap: 104px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 767px;
  position: relative;
}
.rectangle-13 {
  border-radius: 31px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 46px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 6px;
}
._032 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 9px;
}
.identifying-different-error-cases2 {
  color: #161616;
  text-align: left;
  font-family: var(
    --hero-4-32-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-4-32-bd-font-size, 32px);
  line-height: var(--hero-4-32-bd-line-height, 140%);
  font-weight: var(--hero-4-32-bd-font-weight, 700);
  position: relative;
}
.provide-guides-for-different-mismatch-scenarios-to-help-users-rescan-their-receipt-and-prevent-leaving-the-page {
  color: var(--black-white-black, #140f33);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.ocr-fianl-6-1 {
  flex-shrink: 0;
  width: 1020px;
  height: 534px;
  position: relative;
}
._042 {
  color: #000000;
  text-align: left;
  font-family: "PretendardJpVariable-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 9px;
}
.customizing-information-to-drive-lock-in-effect2 {
  color: #161616;
  text-align: left;
  font-family: var(
    --hero-4-32-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-4-32-bd-font-size, 32px);
  line-height: var(--hero-4-32-bd-line-height, 140%);
  font-weight: var(--hero-4-32-bd-font-weight, 700);
  position: relative;
}
.i-thoroughly-reviewed-ocr-raw-data-to-find-out-what-information-was-collected-then-i-selected-relevant-information-for-users-and-exposed-them-to-the-platform {
  color: var(--black-white-black, #140f33);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.ocr-final-7-1 {
  flex-shrink: 0;
  width: 1020px;
  height: 570px;
  position: relative;
}
.container-takeaways {
  padding: 0px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.frame-772 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.takeaways {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame-1752 {
  display: flex;
  flex-direction: column;
  gap: 136px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-164 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-76 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-73 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.learned-how-to-reflect-on-back-end-data-bases-and-how-data-can-play-a-crucial-role-in-supporting-design-ideas-which-can-increase-metrics {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.working-at-a-big-tech-company-there-are-occasions-where-additional-features-need-to-be-added-within-tight-deadlines-from-this-experience-i-learned-to-facilitate-efficient-decision-making-in-limited-timeframes-understanding-stakeholders-needs-and-users-pain-points-can-be-invaluable-in-driving-the-design-process {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.pagenation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gray {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.chevron-bold {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.previous {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.gray2 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.next {
  color: var(--green-400, #52b879);
  text-align: center;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.chevron-bold2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.topbar {
  width: 1440px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow-x: auto;
}
.white-background {
  background: var(--green-400, #52b879);
  width: 1440px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.gray3 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  top: 19px;
}
.chevron-bold3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.back {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.frame-182 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1187px;
  top: 17px;
}
.home {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
