.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: var(--m-3-white, #ffffff);
  padding: 10px;
  width: 1440px;
  height: 2018px;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 92px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  top: 130px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.info {
  padding: 64px 0px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.txt {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.main-txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.img-profile {
  flex-shrink: 0;
  width: 112px;
  height: 112px;
  position: relative;
}
.i-m-a-hybrid-product-designer-and-i-specialize-in-product-management-and-design {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
}
.sub-txt {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  width: 864px;
}
.frame {
  display: flex;
  flex-direction: column;
  gap: 92px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1000004545 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.contents {
  padding: 44px 0px 44px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.lesson-prep {
  flex-shrink: 0;
  width: 510px;
  height: 360px;
  position: static;
}
.rectangle-5578 {
  background: var(--purple-400, #7b69de);
  border-radius: 12px;
  width: 510px;
  height: 360px;
  position: absolute;
  left: 0px;
  top: 44px;
  box-shadow: var(
    --shadow-onwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.frame-139 {
  width: 233px;
  height: 332px;
  position: absolute;
  left: 262px;
  top: 72px;
  overflow: hidden;
}
.lessonprep-1 {
  width: 233px;
  height: 332px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 198px;
  position: absolute;
  left: 40px;
  top: 84px;
}
.frame-1000004546 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.actionable {
  background: var(--purple-500, #503cc8);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.uploading-soon {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --caption-12-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--caption-12-bd-font-size, 12px);
  line-height: var(--caption-12-bd-line-height, 160%);
  font-weight: var(--caption-12-bd-font-weight, 700);
  position: relative;
}
.actionable2 {
  background: var(--black-white-white, #ffffff);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.education {
  color: var(--purple-600, #3c2bac);
  text-align: left;
  font-family: var(
    --caption-12-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--caption-12-bd-font-size, 12px);
  line-height: var(--caption-12-bd-line-height, 160%);
  font-weight: var(--caption-12-bd-font-weight, 700);
  position: relative;
}
.title2 {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.how-we-support-english-learners-at-every-phase-of-their-journey {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.study {
  flex-shrink: 0;
  width: 510px;
  height: 360px;
  position: static;
}
.rectangle-55782 {
  background: var(--purple-400, #7b69de);
  border-radius: 16px;
  width: 510px;
  height: 360px;
  position: absolute;
  left: 530px;
  top: 44px;
  box-shadow: var(
    --shadow-onwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.frame-1392 {
  width: 233px;
  height: 332px;
  position: absolute;
  left: 792px;
  top: 72px;
  overflow: hidden;
}
.study-1 {
  width: 233px;
  height: 332px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.title3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 198px;
  position: absolute;
  left: 570px;
  top: 84px;
}
.favorite-places {
  flex-shrink: 0;
  width: 510px;
  height: 360px;
  position: static;
}
.rectangle-55783 {
  background: var(--blue-500, #4495ff);
  border-radius: 16px;
  width: 510px;
  height: 360px;
  position: absolute;
  left: 0px;
  top: 424px;
  box-shadow: var(
    --shadow-onwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.frame-1393 {
  border-radius: 8px;
  width: 242px;
  height: 332px;
  position: absolute;
  left: 268px;
  top: 452px;
  overflow: hidden;
}
.fav-list-1 {
  width: 242px;
  height: 332px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.title4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 231px;
  position: absolute;
  left: 40px;
  top: 464px;
}
.maps {
  color: var(--blue-600, #3173db);
  text-align: left;
  font-family: var(
    --caption-12-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--caption-12-bd-font-size, 12px);
  line-height: var(--caption-12-bd-line-height, 160%);
  font-weight: var(--caption-12-bd-font-weight, 700);
  position: relative;
}
.promoted-more-users-to-save-and-use-places-more-conveniently {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indoor-maps {
  flex-shrink: 0;
  width: 510px;
  height: 360px;
  position: static;
}
.rectangle-55784 {
  background: var(--blue-500, #4495ff);
  border-radius: 16px;
  width: 510px;
  height: 360px;
  position: absolute;
  left: 530px;
  top: 424px;
  box-shadow: var(
    --shadow-onwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.frame-1394 {
  border-radius: 8px;
  width: 235px;
  height: 332px;
  position: absolute;
  left: 805px;
  top: 452px;
  overflow: hidden;
}
.indoor-img-1 {
  width: 235px;
  height: 332px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.title5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 231px;
  position: absolute;
  left: 570px;
  top: 464px;
}
.helped-users-find-and-use-indoor-maps-more-efficiently-while-navigating-the-map-directions {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.receipt-review {
  flex-shrink: 0;
  width: 510px;
  height: 360px;
  position: static;
}
.rectangle-55785 {
  background: var(--green-500, #2bab63);
  border-radius: 16px;
  width: 510px;
  height: 360px;
  position: absolute;
  left: 0px;
  top: 804px;
  box-shadow: var(
    --shadow-onwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.frame-1395 {
  width: 210px;
  height: 332px;
  position: absolute;
  left: 285px;
  top: 832px;
  overflow: hidden;
}
.receipt-list-1 {
  width: 210px;
  height: 332px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.title6 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 231px;
  position: absolute;
  left: 40px;
  top: 844px;
}
.review {
  color: var(--green-600, #1f935d);
  text-align: left;
  font-family: var(
    --caption-12-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--caption-12-bd-font-size, 12px);
  line-height: var(--caption-12-bd-line-height, 160%);
  font-weight: var(--caption-12-bd-font-weight, 700);
  position: relative;
}
.supported-users-to-populate-the-exact-information-they-needed-from-receipts {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._2023-jungyeon-woo {
  color: var(--gray-500, #80839e);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 500);
  position: relative;
  width: 864px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.topbar {
  width: 1440px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-x: auto;
}
.white-background {
  background: var(--black-white-white, #ffffff);
  width: 1440px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1000004544 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1040px;
  position: absolute;
  left: 200px;
  top: 45px;
}
.jungyeon-woo {
  color: #000000;
  text-align: right;
  font-family: var(
    --headline-3-22-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-3-22-bd-font-size, 22px);
  line-height: var(--headline-3-22-bd-line-height, 140%);
  font-weight: var(--headline-3-22-bd-font-weight, 700);
  position: relative;
}
.frame-184 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.frame-1842 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.resume {
  color: #000000;
  text-align: right;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
}
.frame-182 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.linked-in {
  color: #000000;
  text-align: right;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
}
