.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: var(--m-3-white, #ffffff);
  padding: 10px;
  width: 1440px;
  height: 14052px;
  position: relative;
  overflow: hidden;
}
.rectangle-5572 {
  background: var(--blue-50, #edf7ff);
  width: 1441px;
  height: 1819px;
  position: absolute;
  left: -1px;
  top: 2599px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.rectangle-5571 {
  background: var(--blue-500, #4495ff);
  width: 1440px;
  height: 780px;
  position: absolute;
  left: calc(50% - 720px);
  top: 0px;
}
.rectangle-5568 {
  background: var(--blue-500, #4495ff);
  width: 1440px;
  height: 712px;
  position: absolute;
  left: 0px;
  top: 13340px;
}
.rectangle-5569 {
  background: #ebf6ff;
  width: 1440px;
  height: 819px;
  position: absolute;
  left: 0px;
  top: 12521px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  top: 243px;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container-head {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.naver-maps-a-division-of-naver-with-21-m-ma-us-is-the-top-map-service-in-south-korea-i-led-the-redesign-of-the-indoor-map-feature-identifying-and-solving-problems-with-various-design-alternatives-the-revamped-indoor-map-was-successfully-deployed-for-the-pyeongchang-winter-olympics-in-september-2018 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indoor-main-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 472px;
  position: relative;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-66 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.role {
  color: var(--gray-900, #171b47);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.ux-designer {
  color: var(--gray-800, #272b55);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-68 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.area {
  color: var(--gray-900, #171b47);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.end-to-end-strategy-research-wireframe {
  color: var(--gray-800, #272b55);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-69 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.team {
  color: var(--gray-900, #171b47);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
._1-ux-designer-myself-1-ui-designer-6-engineer {
  color: var(--gray-800, #272b55);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-70 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.timeline {
  color: var(--gray-900, #171b47);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
._8-months-2017-07-2018-01 {
  color: var(--gray-800, #272b55);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.container-problem-statement {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.problem-statement {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.how-do-we-help-users-easily-navigate-indoor-locations-while-using-maps {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.users-had-difficulty-navigating-indoor-locations-due-to-limited-indoor-map-coverage-and-the-lack-of-clear-entry-points-to-the-indoor-maps-resulting-in-unsatisfactory-outcomes {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.container-process {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.process {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.identifying-user-s-pain-points-and-continuous-tests-to-maximize-the-users-interactions-and-the-flow {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc3 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.improved-naver-maps-indoor-map-feature-by-analyzing-and-defining-the-experience-of-using-the-feature-focusing-on-what-users-felt {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indoor-process-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 178px;
  position: relative;
}
.container-impact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.impact {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.the-results-showed-positive-developments-in-our-business-metrics-and-the-new-indoor-map-was-successfully-deployed-for-the-pyeongchang-winter-olympics-in-september-2018 {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.indoor-impact-1 {
  flex-shrink: 0;
  width: 677px;
  height: 78px;
  position: relative;
}
.container-pain-point {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.pain-point {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc4 {
  display: flex;
  flex-direction: column;
  gap: 112px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._01 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.indoor-01-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 484px;
  position: relative;
}
._02 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.to-view-the-indoor-location-on-a-map-users-must-toggle-between-separate-screens {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc5 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.users-encountered-a-cumbersome-experience-while-navigating-indoor-locations-requiring-them-to-switch-between-the-list-and-map-views {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indoor-02-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 515px;
  position: relative;
}
._03 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.indoor-maps-had-limited-availability {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.indoor-maps-hadn-t-been-released-within-subway-systems-leading-to-user-challenges-in-locating-exits-and-utilizing-interior-connected-subway-exits {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indoor-03-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 500px;
  position: relative;
}
.container-design-direction {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.design-direction {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc6 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.my-aim-is-to-make-indoor-locations-to-the-existing-map-navigational-context {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.txt {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-76 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-73 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.we-wanted-to-test-the-usability-through-working-prototypes-which-would-ideally-validate-one-design-option-over-another-to-make-the-prototypes-i-worked-on-wireframes-and-feature-specifications-alongside-our-software-engineers {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indoor-direct-1 {
  flex-shrink: 0;
  width: 496px;
  height: 584px;
  position: relative;
}
.container-exploration {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.txt2 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-77 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.exploration {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame-762 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-732 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.to-reach-the-final-design-i-benchmarked-various-global-map-services-and-iterated-through-our-team-critiques {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc7 {
  display: flex;
  flex-direction: column;
  gap: 104px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._012 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.txt3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.actionable {
  background: var(--blue-500, #4495ff);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.step-1 {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
}
.how-should-we-develop-the-design {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
}
.desc8 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-110 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.it-should-be-intuitive-and-allow-you-to-easily-navigate-different-indoor-locations {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame-146 {
  display: flex;
  flex-direction: row;
  gap: 42px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.indoor-test-a {
  flex-shrink: 0;
  width: 432px;
  height: 465px;
  position: relative;
}
.indoor-test-b {
  flex-shrink: 0;
  width: 432px;
  height: 447px;
  position: relative;
}
._022 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.step-2 {
  color: var(--black-white-white, #ffffff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
}
.when-should-i-show-the-indoor-map {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
}
.desc9 {
  display: flex;
  flex-direction: column;
  gap: 92px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._013 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-114 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-113 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.counter {
  background: var(--gray-100, #eff1f9);
  border-radius: 40px;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.title {
  color: var(--gray-900, #171b47);
  text-align: center;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on-off-interaction-for-indoor-maps {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  flex: 1;
}
.frame-1000004545 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.indoor-show-1 {
  flex-shrink: 0;
  width: 420px;
  height: 350px;
  position: relative;
}
.group-78 {
  flex-shrink: 0;
  width: 606px;
  height: 350px;
  position: static;
}
.indoor-show-2 {
  width: 606px;
  height: 350px;
  position: absolute;
  left: 434px;
  top: 0px;
}
._023 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1142 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-111 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.redefine-the-zoom-level-that-shows-the-indoor-map {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  flex: 1;
}
.as-opposed-to-naver-maps-other-services-had-started-to-expose-indoor-maps-at-a-level-where-users-can-recognize-their-surroundings {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-2-18-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-2-18-md-font-size, 18px);
  line-height: var(--title-2-18-md-line-height, 160%);
  font-weight: var(--title-2-18-md-font-weight, 500);
  position: relative;
  width: 952px;
}
.frame-129 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.group-782 {
  flex-shrink: 0;
  width: 704px;
  height: 191px;
  position: static;
}
.frame-123 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 704px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.zoomlv-1 {
  flex-shrink: 0;
  width: 704px;
  height: 191px;
  position: relative;
}
.lg {
  background: var(--blue-50, #edf7ff);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 319px;
  height: 144px;
  position: relative;
  box-shadow: var(
    --shadowonwhite-200-box-shadow,
    0px 2px 8px 0px rgba(0, 0, 0, 0.15)
  );
}
.frame-115 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 279px;
  position: relative;
}
.frame-116 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.check {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.findings {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: relative;
  width: 174px;
}
.this-can-be-seen-as-an-easy-to-view-level-for-comparing-indoor-and-outdoor-information {
  color: var(--gray-700, #3e426a);
  text-align: left;
  font-family: var(
    --body-2-14-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-2-14-md-font-size, 14px);
  line-height: var(--body-2-14-md-line-height, 160%);
  font-weight: var(--body-2-14-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._032 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1143 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-130 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.define-zoom-levels-and-exposure-factors-for-different-indoor-map-navigation-situations {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  flex: 1;
}
.considered-how-users-find-their-current-locations-and-their-destination-point-in-each-scenario {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-2-18-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-2-18-md-font-size, 18px);
  line-height: var(--title-2-18-md-line-height, 160%);
  font-weight: var(--title-2-18-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.group-83 {
  flex-shrink: 0;
  width: 1040px;
  height: 316px;
  position: static;
}
.searching-their-current-location-searching-for-a-specific-location-searching-for-directions-from-their-current-location-to-a-destination-point {
  color: var(--gray-600, #5a5e7f);
  text-align: left;
  font-family: var(
    --body-1-16-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-1-16-md-font-size, 16px);
  line-height: var(--body-1-16-md-line-height, 160%);
  font-weight: var(--body-1-16-md-font-weight, 500);
  position: absolute;
  left: 0px;
  top: 158.29px;
  width: 336px;
}
.choice {
  background: var(--blue-50, #edf7ff);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 111.29px;
}
.scenarios {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.zoomlv-2-1 {
  width: 693px;
  height: 316px;
  position: absolute;
  left: 347px;
  top: 111px;
}
.container-solustion {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.solution {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc10 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.txt4 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.quick-indoor-place-navigation-with-new-indoor-map-toggle-interactivity-and-floor-buttons {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc11 {
  display: flex;
  flex-direction: column;
  gap: 104px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 2467px;
  position: relative;
}
._014 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
._1-provides-0-depth-access-to-places-on-each-floor-with-a-floor-button {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1040px;
  height: 509px;
  position: relative;
}
.based-on-user-research-accessing-the-indoor-map-and-navigating-to-specific-places-was-the-most-frustrating-part-of-the-process-i-implemented-a-floor-button-feature-that-allows-users-to-immediately-navigate-to-any-indoor-place-on-any-floor {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-2-18-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-2-18-md-font-size, 18px);
  line-height: var(--title-2-18-md-line-height, 160%);
  font-weight: var(--title-2-18-md-font-weight, 500);
  position: relative;
  width: 322px;
}
.indoor-final-1-1 {
  flex-shrink: 0;
  width: 691.33px;
  height: 464px;
  position: relative;
}
._024 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  height: 600px;
  position: relative;
}
._2-provides-a-list-of-all-indoor-locations-directly-from-the-building-s-own-detail-page {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.img2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.it-s-important-to-be-able-to-select-and-navigate-floor-by-floor-on-the-map-but-we-ve-also-improved-the-detail-pages-of-the-buildings-so-users-can-quickly-skim-through-the-places-inside {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-2-18-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-2-18-md-font-size, 18px);
  line-height: var(--title-2-18-md-line-height, 160%);
  font-weight: var(--title-2-18-md-font-weight, 500);
  position: relative;
  width: 385px;
}
.indoor-final-2-1 {
  flex-shrink: 0;
  width: 591.37px;
  height: 490px;
  position: relative;
}
._033 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._3-show-indoor-maps-at-a-higher-level-than-before {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.desc12 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.i-hypothesized-that-indoor-location-information-would-be-easier-to-recognize-if-it-was-shown-at-a-level-where-places-were-more-visible-from-a-bird-s-eye-view-we-also-worked-with-our-designers-to-improve-the-visibility-of-the-indoor-frame-to-expose-the-place-information {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.img3 {
  flex-shrink: 0;
  width: 1040px;
  height: 337px;
  position: static;
}
.rectangle-239 {
  width: 520px;
  height: 337px;
  position: absolute;
  left: 0px;
  top: 120px;
}
.rectangle-241 {
  width: 520px;
  height: 337px;
  position: absolute;
  left: 520px;
  top: 120px;
}
.image-231 {
  border-radius: 20px;
  width: 229px;
  height: 229px;
  position: absolute;
  left: 24px;
  top: 197px;
  box-shadow: var(
    --shadowongray-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.2)
  );
}
.image-233 {
  border-radius: 20px;
  width: 229px;
  height: 229px;
  position: absolute;
  left: 544px;
  top: 197px;
  box-shadow: var(
    --shadowongray-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.2)
  );
}
.image-232 {
  border-radius: 20px;
  width: 229px;
  height: 229px;
  position: absolute;
  left: 267px;
  top: 197px;
  box-shadow: var(
    --shadowongray-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.2)
  );
}
.image-234 {
  border-radius: 20px;
  width: 229px;
  height: 229px;
  position: absolute;
  left: 787px;
  top: 197px;
  box-shadow: var(
    --shadowongray-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.2)
  );
}
.filter {
  background: var(--gray-100, #eff1f9);
  border-radius: 8px;
  padding: 8px 8px 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 472px;
  height: 35px;
  position: absolute;
  left: 24px;
  top: 145.5px;
}
.before-zoom-level-11 {
  color: var(--gray-600, #5a5e7f);
  text-align: left;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.difficult-to-match-indoor-and-outdoor-places {
  color: var(--gray-600, #5a5e7f);
  text-align: left;
  font-family: var(
    --body-2-14-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-2-14-md-font-size, 14px);
  line-height: var(--body-2-14-md-line-height, 160%);
  font-weight: var(--body-2-14-md-font-weight, 500);
  position: relative;
}
.filter2 {
  background: var(--blue-50, #edf7ff);
  border-radius: 8px;
  padding: 8px 8px 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 472px;
  height: 35px;
  position: absolute;
  left: 544px;
  top: 145.5px;
}
.after-zoom-level-14-15 {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.increase-visibility-of-indoor-place-layers {
  color: var(--gray-700, #3e426a);
  text-align: left;
  font-family: var(
    --body-2-14-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--body-2-14-md-font-size, 14px);
  line-height: var(--body-2-14-md-line-height, 160%);
  font-weight: var(--body-2-14-md-font-weight, 500);
  position: relative;
}
._04 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  height: 455px;
  position: relative;
}
._4-extending-indoor-map-coverage-subway-indoor-maps {
  color: #000000;
  text-align: left;
  font-family: var(
    --headline-1-28-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-1-28-bd-font-size, 28px);
  line-height: var(--headline-1-28-bd-line-height, 140%);
  font-weight: var(--headline-1-28-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.decs {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.previously-we-didn-t-provide-indoor-maps-within-the-subway-stations-now-we-ve-exposed-an-indoor-map-available-inside-the-subway-so-that-users-can-seamlessly-transition-to-their-destination-and-back {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.img4 {
  flex-shrink: 0;
  width: 1040px;
  height: 291.08px;
  position: static;
}
.image-2312 {
  border-radius: 20.97px;
  width: 240.08px;
  height: 240.08px;
  position: absolute;
  left: 0px;
  top: 143px;
  box-shadow: var(
    --shadowonwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.image-2332 {
  border-radius: 20.97px;
  width: 240.08px;
  height: 240.08px;
  position: absolute;
  left: 545.16px;
  top: 143px;
  box-shadow: var(
    --shadowonwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.image-2322 {
  border-radius: 20.97px;
  width: 240.08px;
  height: 240.08px;
  position: absolute;
  left: 254.76px;
  top: 143px;
  box-shadow: var(
    --shadowonwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.image-2342 {
  border-radius: 20.97px;
  width: 240.08px;
  height: 240.08px;
  position: absolute;
  left: 799.92px;
  top: 143px;
  box-shadow: var(
    --shadowonwhite-100-box-shadow,
    0px 1px 4px 0px rgba(0, 0, 0, 0.15)
  );
}
.filter3 {
  background: var(--blue-50, #edf7ff);
  border-radius: 8px;
  padding: 8px 8px 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 472px;
  height: 35px;
  position: absolute;
  left: 11px;
  top: 92px;
}
.present-indoor-maps-in-subways-even-at-low-zoom-levels {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.filter4 {
  background: var(--blue-50, #edf7ff);
  border-radius: 8px;
  padding: 8px 8px 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 472px;
  height: 35px;
  position: absolute;
  left: 555px;
  top: 92px;
}
.find-directions-to-buildings-that-are-connected-to-the-metro-station {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.container-outcomes {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.txt5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.outcome {
  color: var(--blue-500, #4495ff);
  text-align: left;
  font-family: var(
    --title-1-20-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--title-1-20-bd-font-size, 20px);
  line-height: var(--title-1-20-bd-line-height, 140%);
  font-weight: var(--title-1-20-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.txt6 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.redesigned-the-floor-list-buttons-ui-and-the-indoor-path-finding-flow {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.now-the-floor-button-appears-when-the-user-has-searched-for-a-large-building-with-an-indoor-map-or-when-the-screen-is-positioned-on-the-map-at-the-centre-of-the-indoor-map-they-can-also-easily-leave-the-indoor-map-view-if-they-need-to-so-as-not-to-without-disrupting-the-outdoor-cycle {
  color: var(--black-white-black, #140f33);
  text-align: left;
  font-family: var(
    --title-1-20-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--title-1-20-md-font-size, 20px);
  line-height: var(--title-1-20-md-line-height, 140%);
  font-weight: var(--title-1-20-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.img5 {
  flex-shrink: 0;
  width: 1040px;
  height: 553px;
  position: static;
}
.rectangle-2 {
  border-radius: 12px;
  width: 1040px;
  height: 553px;
  position: absolute;
  left: 0px;
  top: 120px;
}
.rectangle-236 {
  border-radius: 12px;
  width: 266px;
  height: 459px;
  position: absolute;
  left: 130px;
  top: 180px;
  box-shadow: var(
    --shadowonwhite-200-box-shadow,
    0px 2px 8px 0px rgba(0, 0, 0, 0.15)
  );
}
.as-is {
  color: var(--gray-500, #80839e);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: absolute;
  left: 646px;
  top: 193px;
}
.to-be {
  color: var(--blue-600, #3173db);
  text-align: left;
  font-family: var(
    --body-1-16-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-1-16-bd-font-size, 16px);
  line-height: var(--body-1-16-bd-line-height, 160%);
  font-weight: var(--body-1-16-bd-font-weight, 700);
  position: absolute;
  left: 240px;
  top: 145px;
}
.rectangle-238 {
  background: var(--gray-50, #fbfbff);
  border-radius: 16px;
  width: 455px;
  height: 373px;
  position: absolute;
  left: 438px;
  top: 226px;
}
.image-170 {
  border-radius: 12px;
  width: 172px;
  height: 303px;
  position: absolute;
  left: 483px;
  top: 261px;
  box-shadow: var(
    --shadowonwhite-200-box-shadow,
    0px 2px 8px 0px rgba(0, 0, 0, 0.15)
  );
}
.image-169 {
  border-radius: 12px;
  width: 171px;
  height: 303px;
  position: absolute;
  left: 678px;
  top: 261px;
  box-shadow: var(
    --shadowonwhite-200-box-shadow,
    0px 2px 8px 0px rgba(0, 0, 0, 0.15)
  );
}
.container-final-design {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.final-design {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.final-design2 {
  color: var(--black-white-black, #140f33);
  text-align: center;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame-733 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.new-user-flow-for-indoor-maps {
  color: var(--gray-900, #171b47);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.quick-and-easy-indoor-location-navigation-with-floor-buttons-and-improved-map-transitions {
  color: var(--gray-800, #272b55);
  text-align: center;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.indoor-final-3-1 {
  flex-shrink: 0;
  width: 1040px;
  height: 472px;
  position: relative;
}
.container-takeaways {
  padding: 0px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 136px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.takeaways {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.takeaways2 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --headline-2-24-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--headline-2-24-bd-font-size, 24px);
  line-height: var(--headline-2-24-bd-line-height, 140%);
  font-weight: var(--headline-2-24-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.txt7 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.new-features-enhance-value-efficiency-but-considering-user-interaction-is-equally-important {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --hero-3-36-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-3-36-bd-font-size, 36px);
  line-height: var(--hero-3-36-bd-line-height, 140%);
  font-weight: var(--hero-3-36-bd-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.i-challenged-myself-to-think-about-how-to-solve-our-users-needs-and-communicate-effectively-with-stakeholders-throughout-the-process-i-quickly-tested-my-designs-by-creating-low-and-high-fidelity-prototypes-and-getting-weekly-feedback-from-the-team-after-a-few-iterations-we-settled-on-an-intuitive-solution-that-was-specifically-tailored-to-address-our-users-concerns-this-project-led-me-to-realize-the-importance-of-user-interaction-and-how-collaborate-with-a-variety-of-stakeholders {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --headline-2-24-md-font-family,
    "PretendardJpVariable-Medium",
    sans-serif
  );
  font-size: var(--headline-2-24-md-font-size, 24px);
  line-height: var(--headline-2-24-md-line-height, 140%);
  font-weight: var(--headline-2-24-md-font-weight, 500);
  position: relative;
  width: 1040px;
}
.pagenation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gray {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.chevron-bold {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.previous {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.gray2 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.next {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.chevron-bold2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.title2 {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --hero-2-48-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--hero-2-48-bd-font-size, 48px);
  line-height: var(--hero-2-48-bd-line-height, 140%);
  font-weight: var(--hero-2-48-bd-font-weight, 700);
  position: absolute;
  left: calc(50% - 520px);
  top: 120px;
  width: 1040px;
}
.topbar {
  width: 1440px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow-x: auto;
}
.white-background {
  background: var(--blue-500, #4495ff);
  width: 1440px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.gray3 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  top: 19px;
}
.chevron-bold3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.back {
  color: var(--black-white-white, #ffffff);
  text-align: center;
  font-family: var(
    --body-2-14-bd-font-family,
    "PretendardJpVariable-Bold",
    sans-serif
  );
  font-size: var(--body-2-14-bd-font-size, 14px);
  line-height: var(--body-2-14-bd-line-height, 160%);
  font-weight: var(--body-2-14-bd-font-weight, 700);
  position: relative;
}
.frame-182 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1187px;
  top: 17px;
}
.home {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
